@tailwind base;
@tailwind components;
@tailwind utilities;

/* no quiero que se muestre la barra de scroll de la derecha ni de abajo */
::-webkit-scrollbar {
  display: none;
}

.hiText {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(135deg, #9c77f3, #5d55f6);
  -webkit-background-clip: text;
  background-clip: text;
}

.group:focus-within .groupLabel {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(135deg, #9c77f3, #5d55f6);
  -webkit-background-clip: text;
  background-clip: text;
}

body{
  height: 100vh;
}

.ql-editor{
  font-size: 1.05rem;
}

